@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans&display=swap');

.App {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.333px;
}

button {
    font-family: 'Open Sans', sans-serif;
    margin: 1px;
    vertical-align: middle;
}

label {
    vertical-align: middle;
}

input, select {
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
    margin: 1px;
}

.stream {
    background-color: darkgrey;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
}

.component {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    margin: 5px;
    width: calc(100% - 22px) !important;
    height: calc(100% - 22px) !important;
}

.grid_div { /* unused */
    /*display: inline-grid;*/
    gap: 5px;
    grid-template-columns: repeat(auto-fill, min-content);
    grid-auto-columns: min-content;
}

.grid_div:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.stream_view {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}

.column {
    display: inline-block;
    vertical-align: middle;
}

.flex_col {
    flex:50%;
}

.flex_box {
    display: flex;
    flex-flow: row;
    height: 100%;
}

.log_view {
    box-sizing: border-box;
    white-space: pre;
    height: calc(100% - 3px);
    width: 100%;
    border-style: none;
    font-family: monospace;
}

.video_record_view {
    display: block;
    overflow: auto;
}

.section_header {
    background-color: lightgrey;
    padding: 0px;
    border-bottom: 3px solid grey;
    vertical-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.section_header .title {
    font-weight: bold;
    padding-left: 2px;
    padding-right: 5px;
}

.subsection_header {
    padding: 0px;
    border-bottom: 1px solid grey;
    vertical-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.subsection {
    padding-bottom: 2px;
    border-bottom: 1px solid grey;
}

.subsection_header .title {
    font-weight: bold;
    padding-left: 2px;
    padding-right: 5px;
}
