.stream {
    background-color: darkgrey;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    
}

.component {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    margin: 5px;
}
